*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Oswald", Sans-serif;
    line-height: 35px;
}
body{
    background-color: black;
}
.site-content{
    width: 90%;
    margin: auto;
}
h1, h4{
    font-weight: 400;
}
.computer{
    display: none;
}
p, a{
    font-weight: 100;
    font-size: 20px;
}
.topnav {
    overflow: hidden;
    position: relative;
}
.navbar-left{
    display: flex;
    justify-content: space-between;
}
.navbar-hidden{
    display: none;
}
.topnav #myLinks {
    display: none;
}
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;
}
#logo{
    padding: 20px;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
}
.topnav .link:hover {
    background-color: white;
    color: black;
}
.topnav img{
    width: 100px;
}
.nav-socials{
    display: none;
}
.left{
    display: flex;
}
.intro{
    height: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #04BAAD;
    width: 65%;
}
.intro img{
    display: block;
    width: 70%;
}
.intro-header{
    width: 250px;
    text-align: left;
    position: absolute;
    right: -150px;
    overflow: hidden;
    margin-top: 50px;
}
.intro-header h1{
    font-size: 35px;
    padding: 15px 0;
}
.intro-header p{
    font-size: 20px;
    padding: 10px 0;
}
.paragraph1{
    text-align: center;
}
.paragraph1 h1{
    margin: 70px 0 30px;
    font-size: 40px;
    line-height: 45px;
}
.paragraph1 p{
    font-size: 20px;
    margin: 15px;
}
.paragraph1 img{
    width: 45%;
    margin: 10px;
}
.join-community{
    text-align: left;
    margin: 40px auto;
}
.join-community h1{
    border-left: 5px solid #04BAAD;
    padding: 0 10px;
    display: inline;
    margin: 15px 0;
}
.join-community p{
    font-size: 20px;
    margin: 10px;
}
.community-buttons button{
    padding: 15px;
    background-color: #04BAAD;
    color: black;
    border-radius: 50%;
    border: none;
    margin: 15px;
    border: 1px solid white;
}
.membership{
    margin: 40px auto;
}
.membership img{
    width: 100%;
    display: block;
    margin: auto;
}
.membership-title h1{
    margin: 25px 15px 15px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
}
.membership-text p{
    font-size: 20px;
}
.buy-a-daw{
    margin: 80px auto;
    text-align: center;
    background-color: #04BAAD;
    padding: 10px 20px;
}
.buy-a-daw h1{
    margin: 20px 0 40px 0;
    color: black;
}
.buy-a-daw p{
    margin: 10px;
    font-size: 20px;
    line-height: 25px;
    color: black;
}
.buy-a-daw button{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 15px;
    background-color: black;
    line-height: 20px;
}
button:hover{
    cursor: pointer;
}
.specs{
    margin: 40px auto;
}
.specs h1{
    margin: 10px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
}
.specs p{
    font-size: 20px;
}
.specs p:first-of-type{
    margin: 20px 0;
}
.specs img{
    width: 100%;
    height: 60vh;
    margin: 20px 0;
}
.ownership{
    margin: auto;
}
.ownership h1{
    margin: 10px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
}
.ownership p{
    font-size: 20px;
}
.ownership p:first-of-type{
    margin: 20px 0;
}
.ownership img{
    width: 100%;
    height: 60vh;
    margin: 20px 0;
}
.roadmap-section{
    margin: auto;
    text-align: center;
}
.roadmap-section h1{
    margin: 10px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
    display: inline-block;
}
.roadmap-section p{
    font-size: 20px;
}
.roadmap-section img{
    width: 90%;
    height: 65vh;
    display: block;
    margin: auto;
}
.roadmap-content{
    margin: 40px 0;
}
.roadmap{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.roadmap-p{
    text-align: left;
    margin-left: 20px;
}
.progression{
    text-align: center;
    width: 60px;
    background-color: #04BAAD;
    height: 60px;
    border-radius: 50%;
}
.progression p{
    padding: 12px 0 0 10px;
    color: black;
    font-size: 18px;
}
.carousel{
    display: none;
}
.carousel h1{
    margin: 40px auto;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
    display: inline-block;
}
.member-tools{
    margin: 50px 0 100px 0;
}
.member-tools h1{
    margin: 20px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
}
.member-tools p{
    font-size: 20px;
}
.member-tools button{
    padding: 10px 20px;
    text-align: center;
    display: block;
    background-color: #04BAAD;
    color: black;
    border-radius: 30px;
    border: none;
    margin: 15px auto;
    font-size: 18px;
}
.center{
    text-align: center;
}
.the-team h1{
    margin: 10px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
    display: inline-block;
}
.the-team p{
    font-size: 20px;
}
.team{
    text-align: center;
    margin: 30px auto;
}
.team img{
    width: 225px;
    height: 225px;
}
.team h4{
    font-size: 25px;
    color: #F4D647;
}
.team-member{
    margin: 40px auto;
}
.about-us h1{
    margin: 10px 0;
    border-left: 4px solid #04BAAD;
    padding: 0 10px;
    display: inline-block;
}
.aboutUs-content p{
    margin: 20px 0;
}
.aboutUs-content button{
    background-color: black;
    border: none;
    font-size: 20px;
    margin: 20px 0;
}
.aboutUs-content i{
    margin-right: 10px;
}
.readMore-content p{
    margin: 20px 0;
}
.readMore{
    display: none;
}
.contract-address{
    text-align: center;
    margin: 100px 0 50px 0;
}
.contract-address p{
    font-size: 18px;
}
.footer{
    text-align: center;
    margin: auto;
}
.footer p{
    font-size: 15px;
    width: 250px;
    line-height: 20px;
    margin: 20px 0;
    text-align: center;
}
.footer img{
    height: 80px;
}
.socials{
    margin: 20px 0;
}
.socials img{
    width: 35px;
    height: 35px;
}
.socials button{
    background-color: black;
    border: none;
    margin: 10px;
}


@media only screen and (min-width: 767px) {
    .intro{
        width: 100%;
        background-color: black;
    }
    .intro img{
        margin-left: auto;
        height: 20%;
        width: 30%;
        background-color: #04BAAD;
        padding: 80px 100px 0 100px;
    }
    .intro-header{
        position: absolute;
        left: 0%;
        top: 15%;
        transform: translate(8%, 8%);
        width: 400px;
    }
    .images{
        display: flex;
        overflow: hidden;
    }
    .images img{
        width: 32%;
    }
    .community-buttons{
        text-align: center;
    }
    .membership-title{
        display: flex;
    }
    .membership-title img{
        width: 50%;
        height: 375px;
        margin: 10px 0;
    }
    .membership-title h1{
        display: inline-block;
        margin: 275px 0 0 -60px;
    }
    .buy-a-daw{
        display: flex;
    }
    .buy-a-daw button{
        height: 90px;
        width: 90px;
    }
    .buy-a-daw div{
        width: 40%;
    }
    .buy-a-daw div:nth-of-type(1){
        padding-top: 15px;
    }
    .member-tools{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .member-tools div{
        width: 75%;
    }
    .member-tools button{
        width: 200px;
        height: 60px;
    }
    hr{
        margin-top: 40px;
    }
    .footer{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1025px) {
    .navbar-hidden{
        display: flex;
        padding-top: 25px;
    }
    .hamburger{
        display: none;
    }
    .nav-socials{
        display: block;
        padding: 25px;
    }
    .nav-socials img{
        width: 30px;
    }
    .nav-socials button{
        background-color: black;
        border: none;
        margin: 10px;
    }
    .paragraph1 h1{
        font-size: 35px;
    }
    .images img{
        width: 23%;
    }
    .join-community{
        display: flex;
    }
    .community-buttons{
        text-align: center;
    }
    .community-buttons button{
        font-size: 18px;
        width: 80px;
        height: 80px;
    }
    .membership-title img{
        width: 30%;
        height: 250px;
    }
    .membership-title h1{
        margin: 20px;
    }
    .membership-text{
        display: inline;
        width: 40%;
    }
    .mobile-tablet{
        display: none;
    }
    .computer{
        display: block;
        margin: 0 0 0 20px;
    }
    .specs{
        display: flex;
        justify-content: space-between;
    }
    .specs-info{
        width: 65%;
    }
    .specs img{
        width: 30%;
        height: 300px;
    }
    .ownership{
        display: flex;
        margin: 80px 0;
    }
    .ownership img{
        width: 60%;
        height: 300px;
    }
    .computer-ownership{
        width: 40%;
        margin: 20px;
    }
    .roadmap-content{
        display: flex;
        justify-content: space-between;
    }
    .computer-roadmap-image img{
        height: 750px;
        width: 100%;
        padding: 125px 0 0 0;
    }
    .roadmap-div{
        width: 100%;
        margin-left: 25px;
    }
    .progressions{
        margin: 20px;
    }
    .roadmap-p{
        width: 100%;
    }
    .team{
        display: flex;
    }
    .team-member{
        width: 400px;
    }
    .intro-header{
        width: 800px;
        position: absolute;
        left: -3%;
        top: 15%;
        transform: translate(8%, 8%);
    }
    .intro h1{
        font-size: 55px;
        margin: 20px 0;
    }
    .intro p{
        font-size: 35px;
    }
    .paragraph1{
        margin-bottom: 120px;
    }
    .site-content{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1300px) {
    .intro h1{
        font-size: 65px;
    }
    .intro img{
        padding: 150px 150px 0 200px;
    }
    .join-community{
        justify-content: space-between;
    }
    .community-buttons{
        display: flex;
        justify-content: space-between;
    }
    .roadmap-content img{
        width: 100%;
    }
}

@media only screen and (min-width: 1500px) {
    .intro-header{
        width: 1000px;
    }
    .intro h1{
        font-size: 75px;
    }
    .intro img{
        padding: 150px 150px 0 200px;
    }
    .membership-title img{
        width: 40%;
        height: 350px;
    }
    .specs img{
        width: 30%;
        height: 400px;
    }
    .ownership img{
        width: 30%;
        height: 400px;
    }
    .buy-a-daw p{
        padding-top: 15px;
    }
}